---
layout: default
author_profile: true
---

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

<body>
  <div id="index">
    <h1>Welcome to Erica's workplace.</h1>
      <h3>Me</h3>
        <p>I am a senior student at UC Berkeley. </p>
        <p>I study Computer Science and Economics. </p>
        <p>I am a coder, designer and fan girl. </p>
      <h3>Maybe a little bit more Me</h3>
        <p>I am from Guangzhou, China. </p>
        <p>I speak Cantonese, Mandarin, English and Japanese. </p>
        <p>I love Japanese culture and history. </p>
  </div>
</body>


{% include paginator.html %}
