---
layout: default
author_profile: true
---

{% include base_path %}


<div id="main" role="main">
  {% include sidebar.html %}
  <div class="archive">
    <div id="index">
      <h1>Some Projects I worked on</h1>
      <h3>Web Server Log Analysis, Text Analysis and Entity Resolution</h3>
      <p>A project written in Python with Apache Spark. The program takes in a subset of data input, analyzes and returns the
basic server log analysis and implements entity resolution across two data sets of commercial products. It is implemented
using MapReduce to parallelize data cleaning and integration.</p>
      <h3>Secure File Store</h3>
      <p>A class project written in Python - secure encrypted le storage client that interact with a untrustworthy server. I designed
and implemented the upload/download, share, and share revocation mechanism with several cryptography techniques to
ensure condentiality and integrity under various potential attacks.</p>
      <h3>Pacman Project</h3>
      <p>A class project written in Python. The program includes a Pacman simulator and AI agent. I implemented the strategy
portion of this project. I applied various machine learning algorithms to maximize the score as an AI player.</p>
      <h3>Distributed Key-Value Store and 2-Phrase Commit</h3>
      <p>A project written in C for operating system course. I worked on implementing a HTTP server to service request and response.
On the server I implemented a distributed key-value store that handles PUT, GET and DEL. All mutation requests are
transactional using a two phrase commit protocol to be fail safe.</p>
    </div>    
  </div>
</div>


<!--{% for post in paginator.posts %}-->
<!--  {% include archive-single.html %}-->
<!--{% endfor %}-->

<!--{% include paginator.html %}-->
