---
layout: default
---

{% if (page.header.overlay_color or page.header.overlay_image) or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  <div id="article-author-side">
    {% include sidebar.html %}
  </div>


  <div id="index">
    <h1>Welcome to Erica's workplace.</h1>
      <h3>Me</h3>
        <p>I am a senior student at UC Berkeley. </p>
        <p>I study Computer Science and Economics. </p>
        <p>I am a coder, designer and fan girl. </p>
      <h3>Maybe a little bit more Me</h3>
        <p>I am from Guangzhou, China. </p>
        <p>I speak Cantonese, Mandarin, English and Japanese. </p>
        <p>I love Japanese culture and history. </p>
  </div>
      
  <!--<div class="archive">-->
  <!--  {% unless page.header.overlay_color or page.header.overlay_image %}-->
  <!--    <h1 class="page__title">{{ page.title }}</h1>-->
  <!--  {% endunless %}-->
  <!--  {{ content }}-->
  <!--</div>-->
</div>
